ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    background: blue;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 200px;
}

.my-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color: orange;
}

h1{
    color: white;
    background-color: blue;
    font-family: SansSerif, sans-serif;

}


